<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Archive Content View </h1>
    <hr>
    <h3>Archived Systems</h3>
    <div class="list-group">
        {% for system in archivedSystemList %}
            <div class="list-group-item list-group-item-action flex-column flex-fill align-items-start">
                <div class="d-flex w-100 p-3 flex-fill justify-content-between">
                    <h4 class="mb-1">{{ system.getName() }}</h4>
                    <small>No. of Tasks: 4 </small>
                    <b>|</b>
                    <small>No. of Findings: 2</small>
                </div>
                <p class="mb-1">{{ system.getDescription() }}</p>
                <h5>Progress:</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                         aria-valuemin="0"
                         aria-valuemax="100">25%
                    </div>
                </div>
                <div class="custom-control custom-checkbox mb-4">
                    <form action="{{ url_for('RestoreSystem', system=system.getId()) }}" method=post>
                        <button type="submit" class="btn btn-secondary">Restore System</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <h3>Archived Tasks</h3>
    <div class="list-group">
        {% for task in archivedTasksList %}
            <div class="list-group-item list-group-item-action flex-column flex-fill align-items-start">
                <div class="d-flex w-100 p-3 flex-fill justify-content-between">
                    <h4 class="mb-1">{{ task.getTitle() }}</h4>
                    <small>No. of Subtasks: 4</small>
                    <b>|</b>
                    <small>No. of Findings: 2</small>
                    <small>Priority: {{ task.getPriority() }}</small>
                    <h5>Aanalyst: {{ task.getAnalystAssigment() }}</h5>
                    <h5>Due date: {{ task.getDueDate() }}</h5>
                </div>
                <p class="mb-1">{{ task.getDescription() }}</p>
                <h5>Progress:</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                         aria-valuemin="0"
                         aria-valuemax="100">25%
                    </div>
                </div>
                <div class="custom-control custom-checkbox mb-4">
                    <form action="{{ url_for('RestoreTask', task=task.getId()) }}" method=post>
                        <button type="submit" class="btn btn-secondary">Restore Task</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <h3>Archived Subtasks</h3>
    <div class="list-group">
        {% for subtask in archivedSubtasksList %}
            <div class="list-group-item list-group-item-action flex-column flex-fill align-items-start">
                <div class="d-flex w-100 p-3 flex-fill justify-content-between">
{#                    <a href="{{ url_for('SubTaskView', subtask=subtask.getId()) }}">#}
                        <h4 class="mb-1">{{ subtask.getTitle() }}</h4>
{#                    </a>#}
                    <small>No. of Findings: 2</small>
                    <h5>Aanalyst: {{ subtask.getAnalystAssigment() }}</h5>
                    <h5>Due date:
                        <medium>{{ subtask.getDueDate() }}</medium>
                    </h5>
                </div>
                <p class="mb-1">{{ subtask.getDescription() }}</p>
                <div class="custom-control custom-checkbox mb-4">
                    <form action="{{ url_for('RestoreSubtask', subtask=subtask.getId()) }}" method=post>
                        <button type="submit" class="btn btn-secondary">Restore Subtask</button>
                    </form>
                    {#<p> <a href="{{ url_for('RestoreSubtask', subtask=subtask.getId()) }}">werwr</a>34</p>#}
                </div>
            </div>
        {% endfor %}
    </div>
    <h3>Archived Findings</h3>
    <div class="list-group">
        {% for finding in archivedFindingsList %}
            <div class="list-group-item list-group-item-action flex-column flex-fill align-items-start">
                <div class="d-flex w-100 p-3 flex-fill justify-content-between">
{#                    <a href="{{ url_for('FindingView') }}">#}
                        <h4 class="mb-1">{{ finding.getHostName() }}</h4>
{#                    </a>#}
                    <h5 class="mb-1">ID: {{ finding.getid() }} </h5>
                    <h5 class="mb-1">System: system 1 </h5>
                    <h5 class="mb-1">Task: Task 1 </h5>
                    <h5 class="mb-1">Subtask: Subtask 1 </h5>
                    <h5 class="mb-1">Analyst: {{ finding.getAnalystAssigned() }}</h5>
                    <h5 class="mb-1">Status: {{ finding.getStatus().value }}</h5>
                    <h5 class="mb-1">Clasificatioin: {{ finding.getClassification().value }}</h5>
                    <h5 class="mb-1">Type: {{ finding.getType().value }}</h5>
                    <h5 class="mb-1">Risk: {{ finding.getRisk() }}</h5>
                </div>
                    <form action="{{ url_for('RestoreFinding', finding=finding.getid()) }}" method=post>
                        <button type="submit" class="btn btn-secondary">Restore Finding</button>
                    </form>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
