<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}

    <h1>Add Posture Table Row</h1>
    <form>
        <div class="form-row">
            <div class="form-group">
                <label>No</label>
                <input name="postureNo" class="form-control">
            </div>
        </div>

        <fieldset class="form-group">
                <label id="postureTable">Please select a Posture type</label>
                <select name="selection" id="selection" class="selection form-control">
                    <option disabled selected hidden>Select an option</option>
                    <option value="insider">Insider</option>
                    <option value="insider-nearsider">Insider-nearsider</option>
                    <option value="outsider">Outsider</option>
                    <option value="nearsider">Nearsider</option>
                    <option value="nearsider-outsider">Nearsider-outsider</option>
                </select>
        </fieldset>

        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('ConfigurationContentView') }}">Save</a></button>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('ConfigurationContentView') }}">Cancel</a></button>
        <br><br>
    </form>

{% endblock content %}