<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}

    <h1>Add Event Classification Row</h1>
    <form>
        <div class="form-row">
            <div class="form-group">
                <label>No</label>
                <input name="findingNo" class="form-control">
            </div>
        </div>

         <fieldset class="form-group">
                <label>Classification</label>
                <select name="classification" id="classification" class="selection form-control">
                    <option disabled selected hidden>Select an option</option>
                    <option value="unclassified">Unclassified</option>
                    <option value="classified">Classified</option>
                    <option value="confidential">Confidential</option>
                    <option value="secret">Secret</option>
                    <option value="topsecret">Top Secret</option>
                </select>

        </fieldset>

        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('ConfigurationContentView') }}">Save</a></button>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('ConfigurationContentView') }}">Cancel</a></button>
        <br><br>
    </form>

{% endblock content %}