<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Create Finding</h1>
    <form method="post">
               <div class="form-group">
            {{ form.findingHostName.label }}
            <br>
            {{ form.findingHostName(class_="form-control") }}
        </div>
                <div class="form-group">
            {{ form.findingIPPort.label }}
            <br>
            {{ form.findingIPPort(class_="form-control") }}
        </div>
                <div class="form-group">
            {{ form.findingDescription.label }}
            <br>
            {{ form.findingDescription(class_="form-control") }}
        </div>
                <div class="form-group">
            {{ form.findingLongDescription.label }}
            <br>
            {{ form.findingLongDescription(class_="form-control") }}
        </div>
                <div class="form-group">
            {{ form.findingStatus.label }}
            <br>
            {{ form.findingStatus(class_="form-control") }}
        </div>
                <div class="form-group">
            {{ form.findingType.label }}
            <br>
            {{ form.findingType(class_="form-control") }}
        </div>
                <div class="form-group">
            {{ form.findingClassification.label }}
            <br>
            {{ form.findingClassification(class_="form-control") }}
        </div>
                <div class="form-group">
            {{ form.associationToFinding.label }}
            <br>
            {{ form.associationToFinding(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.associationTask.label }}
            <br>
            {{ form.associationTask(class_="form-control") }}
        </div>
                <div class="form-group">
            {{ form.findingEvidence.label }}
            <br>
            {{ form.findingEvidence(class_="form-control") }}
        </div>
                <div class="form-group">
            {{ form.findingConfidentiality.label }}
            <br>
            {{ form.findingConfidentiality(class_="form-control") }}
        </div>
                        <div class="form-group">
            {{ form.findingIntegrity.label }}
            <br>
            {{ form.findingIntegrity(class_="form-control") }}
        </div>
                        <div class="form-group">
            {{ form.findingAvailability.label }}
            <br>
            {{ form.findingAvailability(class_="form-control") }}
        </div>
                        <div class="form-group">
            {{ form.findingAnalystAssignment.label }}
            <br>
            {{ form.findingAnalystAssignment(class_="form-control") }}
        </div>
                        <div class="form-group">
            {{ form.findingCollaboratorAssignment.label }}
            <br>
            {{ form.findingCollaboratorAssignment(class_="form-control") }}
        </div>
                        <div class="form-group">
            {{ form.findingPosture.label }}
            <br>
            {{ form.findingPosture(class_="form-control") }}
        </div>
                        <div class="form-group">
            {{ form.mitigationBriefDescription.label }}
            <br>
            {{ form.mitigationBriefDescription(class_="form-control") }}
        </div>
                        <div class="form-group">
            {{ form.mitigationLongDescription.label }}
            <br>
            {{ form.mitigationLongDescription(class_="form-control") }}
        </div>
                        <div class="form-group">
            {{ form.findingThreatRelevance.label }}
            <br>
            {{ form.findingThreatRelevance(class_="form-control") }}
        </div>
                                <div class="form-group">
            {{ form.findingEffectivenessRating.label }}
            <br>
            {{ form.findingEffectivenessRating(class_="form-control") }}
        </div>
                                <div class="form-group">
            {{ form.impactDescription.label }}
            <br>
            {{ form.impactDescription(class_="form-control") }}
        </div>
                                <div class="form-group">
            {{ form.impactLevel.label }}
            <br>
            {{ form.impactLevel(class_="form-control") }}
        </div>
                                <div class="form-group">
            {{ form.severityCategoryCode.label }}
            <br>
            {{ form.severityCategoryCode(class_="form-control") }}
        </div>


        <button type="submit" class="btn btn-secondary" name="createFinding">Create</button>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('FindingsView') }}">Cancel</a></button>
        <br><br>
    </form>
{% endblock content %}
