<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Create System</h1>
    <form>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Location</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Router</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Switch</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Room</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>System Test Plan</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Confidentiality</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Integrated</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>System Availability</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('EventView') }}">Create</a></button>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('EventView') }}">Cancel</a></button>
    </form>
    <br>
{% endblock content %}