<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Create Task</h1>
    <form method="POST">
        <div class="form-group">
            {{ form.taskName.label }}
            <br>
            {{ form.taskName(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.taskPriority.label }}
            <br>
            {{ form.taskPriority(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.taskProgress.label }}
            <br>
            {{ form.taskProgress(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.taskDueDate.label }}
            <br>
            {{ form.taskDueDate(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.taskAttachment.label }}
            <br>
            {{ form.taskAttachment(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.associationToTask.label }}
            <br>
            {{ form.associationToTask(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.associationToSystem.label }}
            <br>
            {{ form.associationToSystem(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.taskAnalystAssignment.label }}
            <br>
            {{ form.taskAnalystAssignment(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.taskCollaboratorAssignment.label }}
            <br>
            {{ form.taskCollaboratorAssignment(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.taskDescription.label }}
            <br>
            {{ form.taskDescription(class_="form-control") }}
        </div>
        <button type="submit" class="btn btn-secondary" name="createTask">Create</button>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('Tasks') }}">Cancel</a></button>
    </form>
    <br>
{% endblock content %}