<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Edit System</h1>
    <form action="" method="POST">
        <div class="form-group">
            {{ form.EditSystemName.label }}
            <br>
            {{ form.EditSystemName(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.EditSystemLocation.label }}
            <br>
            {{ form.EditSystemLocation(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.EditSystemRouter.label }}
            <br>
            {{ form.EditSystemRouter(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.EditSystemSwitch.label }}
            <br>
            {{ form.EditSystemSwitch(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.EditSystemRoom.label }}
            <br>
            {{ form.EditSystemRoom(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.EditSystemTestPlan.label }}
            <br>
            {{ form.EditSystemTestPlan(class_="form-control") }}
        </div>

        <div class="form-group">
            {{ form.EditSystemDescription.label }}
            <br>
            {{ form.EditSystemDescription(class_="form-control") }}
        </div>
        <button type="submit" class="btn btn-secondary" name="editSystem">Edit</button>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('SystemView', system=system.getId()) }}">Cancel</a>
        </button>
    </form>
    <br>
{% endblock content %}