<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Edit subtask</h1>
    <form action="" method="POST">
        <div class="form-group">
            {{ form.subTaskName.label }}
            <br>
            {{ form.subTaskName(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.subTaskProgress.label }}
            <br>
            {{ form.subTaskProgress(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.subTaskDueDate.label }}
            <br>
            {{ form.subTaskDueDate(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.subTaskAttachment.label }}
            <br>
            {{ form.subTaskAttachment(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.associationTask.label }}
            <br>
            {{ form.associationTask(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.subTaskAnalystAssignment.label }}
            <br>
            {{ form.subTaskAnalystAssignment(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.subTaskCollaboratorAssignment.label }}
            <br>
            {{ form.subTaskCollaboratorAssignment(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.subTaskDescription.label }}
            <br>
            {{ form.subTaskDescription(class_="form-control") }}
        </div>

        <button type="submit" class="btn btn-secondary" name="editSubtask">Save</button>
        <button type="submit" class="btn btn-secondary"><a
                href="{{ url_for('SubTaskView', subtask=subtask.getId()) }}">Cancel</a>
        </button>
    <hr>
    </form>
{% endblock content %}