<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Edit subtask</h1>
    <form>
        <div class="form-row">
            <div class="form-group">
                <label for="inputTitle">Name</label>
                <input type="email" class="form-control" id="inputTitle">
            </div>
            <div class="form-group">

                <div class="form-group"> <!-- Date input -->
                    <label class="control-label" for="date">Due date</label>
                    <input id="datepicker" class="form-control" id="date" name="date" placeholder="MM/DD/YYY"
                           type="text"/>
                </div>
                <script>
                    $('#datepicker').datepicker({
                        uiLibrary: 'bootstrap'
                    });
                </script>
                <div class="form-group">
                    <label>Assigned analysts</label>
                    <select class="form-control">
                        <option>Miguel Munoz</option>
                        <option>Jonathan Roman</option>
                        <option>Alberto Machado</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Collaborators </label>
                    <select class="form-control">
                        <option>Miguel Munoz</option>
                        <option>Jonathan Roman</option>
                        <option>Alberto Machado</option>
                    </select>
                </div>
                <div class="form-group">
                    <label Task(s) </label>
                    <select class="form-control">
                        <option>Task 1</option>
                        <option>Task 2</option>
                    </select>
                </div>
                <div class="form-group">
                    <label> Subtask(s) </label>
                    <select class="form-control">
                        <option>Subtask 1</option>
                        <option>Subtask 2</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-secondary"><a href="{{ url_for('SubTaskView') }}">Edit</a></button>
                <button type="submit" class="btn btn-secondary"><a href="{{ url_for('SubTaskView') }}">Cancel</a>
                </button>
    </form>
{% endblock content %}