<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Edit Event</h1>
    <form action="" method="POST">
        <div class="form-row">
            <div class="form-group">
                {{ form.EditEventName.label }}
                <br>
                {{ form.EditEventName(class_="form-control") }}
            </div>
        </div>
        <div class="form-group">
            {{ form.EditEventType.label }}
            <br>
            {{ form.EditEventType(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.EditEventVersion.label }}
            <br>
            {{ form.EditEventVersion(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.EditEventArchiveStatus.label }}
            <br>
            {{ form.EditEventArchiveStatus(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.EditEventCustomerName.label }}
            <br>
            {{ form.EditEventCustomerName(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.EditEventOrganizationName.label }}
            <br>
            {{ form.EditEventOrganizationName(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.EditEventAssessmentDate.label }}
            <br>
            {{ form.EditEventAssessmentDate(class_="form-control") }}
        </div>

        <div class="form-group">
            {{ form.EditEventClassifiedBy.label }}
            <br>
            {{ form.EditEventClassifiedBy(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.EditEventDerivedFrom.label }}
            <br>
            {{ form.EditEventDerivedFrom(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.EditEventDeclassificationDate.label }}
            <br>
            {{ form.EditEventDeclassificationDate(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.EditEventClassification.label }}
            <br>
            {{ form.EditEventClassification(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.EditEventSCTG.label }}
            <br>
            {{ form.EditEventSCTG(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.EditEventDescription.label }}
            <br>
            {{ form.EditEventDescription(class_="form-control") }}
        </div>
        <button type="submit" name="editEvent" class="btn btn-secondary">Save</button>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('EventView') }}">Cancel</a></button>
        <br><br>
    </form>
{% endblock content %}

