<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Event overview</h1>
    <br>
    <form method=post>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('EditEvent') }}">Edit event</a></button>
        <button type="submit" value="submit" name="ArchiveEvent" class="btn btn-secondary">Archive event</button>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('Help') }}">Help</a></button>
    </form>

    <h3>Event Basic Information</h3>
    <br>
    <h4>Event name</h4>
    <!-- in the app.py when we render this template, we pass as parameter an event object to display its info here -->
    <p>{{ event.getName() }}</p>
    <hr>
    <h4>Event description</h4>
    <p>{{ event.getDescription() }} </p>
    <br>
    <h4>Event type</h4>
    <p>{{ event.getType().value }}</p>
    <hr>
    <h4>Event version</h4>
    <p>{{ event.getVersion() }}</p>
    <hr>
    <h4>Organization name</h4>
    <p>{{ event.getOrganizationName() }}</p>
    <hr>
    <h4>Customer name</h4>
    <p>{{ event.getCustomerName() }}</p>
    <hr>
    <h4>Assessment date</h4>
    <p>{{ event.getDate() }}</p>
    <hr>
    <h4>Classified by</h4>
    <p>{{ event.getClassifiedBy() }}</p>
    <hr>
    <h4>Derived from</h4>
    <p>{{ event.getDerivedFrom() }}</p>
    <hr>
    <h4>Declassification date</h4>
    <p>{{ event.getDeclassificationDate() }}</p>
    <hr>
    <h4>Security Classification Title Guide</h4>
    <p>{{ event.getSecurityClassificationTitleGuide() }}</p>
    <hr>
    <h4>Event Classification</h4>
    <p>{{ event.getEventClassification().value }}</p>
    <hr>
    <h4>Archive Status</h4>
    <p>{{ event.getArchiveStatus() }}</p>
    <hr>
    <h3>Event Team Information</h3>
    <button type="submit" class="btn btn-secondary"><a href="{{ url_for('CreateAnalyst') }}">Add Analyst</a></button>
    <hr>
    <h4>Lead Analysts</h4>
    <p></p>
    <hr>
    <h4>Analysts (Event Team)</h4>
    <!-- loop through the list of initials that event.getEventTeam() retrieves  and display them along with a delete button-->
    {% for initial in event.getEventTeam() %}
        <ul>
            <li style="list-style-type: circle">
                <form action="{{ url_for('deleteAnalyst', initial=initial) }}" method=post>
                    {{ initial }}
                    <input type="hidden" value="{{ initial }}">
                    <input type="submit" class="btn btn-secondary" value="Delete"/>
                </form>
            </li>
        </ul>
    {% endfor %}
    <hr>
{% endblock content %}

{% block sidebar %}
    <!-- side bar -->
    <div class="content-section">
        <h3>FRIC menu</h3>
        <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
            <!-- added these options according to the professor's final SRS -->
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('EventTree') }}"> Event Tree</a></li>
            <li class="list-group-item list-group-item-light"><a
                    href="{{ url_for('AnalystProgressSummaryContentView') }}"> Analyst Progress Summary</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('EventView') }}">Event Overview</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Systems') }}"> Systems</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Tasks') }}"> Tasks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Subtasks') }}"> Subtasks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('FindingsView') }}"> Findings</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('ArchiveContentView') }}"> Archived
                Contents</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('ConfigurationContentView') }}">
                Configuration</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('SetupContentView') }}"> Setup</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Help',_anchor='createevent') }}"> Help</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Sync') }}"> Sync</a></li>
        </ul>
        </p>
    </div>
{% endblock %}
