<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h2>Event Tree</h2>
    <br></br><br></br>

    <h4>
        <ul> Event
            <li>System 1
                <ul>
                    <li>Task 1
                        <ul>
                            <li>Substask 1
                                <ul>
                                    <li>Finding 1</li>
                                    <li>Finding 2</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Task 2
                        <ul>
                            <li>Finding 3</li>
                        </ul>
                    </li>
                    <li>Finding 4</li>
                </ul>
            </li>
            <li>System 2</li>
        </ul>
    </h4>
    <!-- content goes here -->

{% endblock %}
