<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Findings Overview </h1>
    <div class="btn-group">
        <a class="btn btn-primary" href="{{ url_for('CreateFinding') }}" role="button">Add Finding</a>
        <a class="btn btn-primary" href="#" role="button">ERB Report</a>
        <a class="btn btn-primary" href="#" role="button">Risk Matrix</a>
        <a class="btn btn-primary" href="#" role="button">Final Report</a>
    </div>
    <hr>
    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column flex-fill align-items-start">
            <div class="d-flex w-100 p-3 flex-fill justify-content-between">
                <a href="{{ url_for('FindingView') }}">
                    <h4 class="mb-1">Finding 1</h4>
                </a>
                <h5 class="mb-1">ID: 132654 </h5>
                <h5 class="mb-1">System: system 1 </h5>
                <h5 class="mb-1">Task: Task 1 </h5>
                <h5 class="mb-1">Subtask: Subtask 1 </h5>
                <h5 class="mb-1">Analyst: </h5>
                <h5 class="mb-1">Status: </h5>
                <h5 class="mb-1">Clasificatioin: </h5>
                <h5 class="mb-1">Type: </h5>
                <h5 class="mb-1">Risk: </h5>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <button type="submit" class="btn btn-secondary"><a href="">Delete finding</a></button>
            </div>
        </div>
        <div class="list-group-item list-group-item-action flex-column flex-fill align-items-start">
            <div class="d-flex w-100 p-3 flex-fill justify-content-between">
                <a href="{{ url_for('FindingView') }}">
                    <h4 class="mb-1">Finding 2</h4>
                </a>
                <h5 class="mb-1">ID: 132654 </h5>
                <h5 class="mb-1">System: system 1 </h5>
                <h5 class="mb-1">Task: Task 1 </h5>
                <h5 class="mb-1">Subtask: Subtask 1 </h5>
                <h5 class="mb-1">Analyst: </h5>
                <h5 class="mb-1">Status: </h5>
                <h5 class="mb-1">Clasificatioin: </h5>
                <h5 class="mb-1">Type: </h5>
                <h5 class="mb-1">Risk: </h5>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <button type="submit" class="btn btn-secondary"><a href="">Delete finding</a></button>
            </div>
        </div>
    </div>
{% endblock content %}

{% block sidebar %}
    <!-- side bar -->
    <div class="content-section">
        <h3>FRIC Menu</h3>
        <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><input class="form-control" type="text"
                                                                     placeholder="Search" aria-label="Search"></li>
            <li class="list-group-item list-group-item-light">
                <div class="dropdown"><label>Sort By</label>
                    <select class="form-control">
                        <option>Id</option>
                        <option>Date</option>
                        <option>Name</option>
                    </select>
                </div>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('EventTree') }}"> Event Tree</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Systems') }}"> Systems</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('AnalystProgressSummaryContentView') }}"> Analyst Progress Summary</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('EventView') }}"> Systems</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('SystemView') }}"> Tasks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('TaskView') }}"> Subtasks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('FindingsView') }}"> Findings</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('ArchiveContentView') }}"> Archived Contents</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('ConfigurationContentView') }}">
                Configuration</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('SetupContentView') }}"> Setup</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Help') }}"> Help</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Sync') }}"> Sync</a></li>
        </ul>
        </p>
    </div>
{% endblock %}
