<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Finding Overview</h1>
    <form method=post>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('EditFinding', finding=finding.getid()) }}">Edit
            Finding</a></button>
        <button type="submit" value="submit" name="ArchiveFinding" class="btn btn-secondary">Archive Finding</button>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('Help') }}">Help</a></button>
    </form>
    <hr>
    <h3>Finding information</h3>
    <hr>
    <h4>ID</h4>
    <p>{{ finding.getid() }}</p>
    <hr>
    <h4>Host Name</h4>
    <p>{{ finding.getHostName() }}</p>
    <hr>
    <h4>IP:Port</h4>
    <p>{{ finding.getIpPort() }}</p>
    <hr>
    <h4>Description</h4>
    <p>{{ finding.getDescription() }}</p>
    <hr>
    <h4>Long Description</h4>
    <p>{{ finding.getLongDescription() }}</p>
    <hr>
    <h4>Status</h4>
    <p>{{ finding.getStatus().value }}</p>
    <hr>
    <h4>Type</h4>
    <p>{{ finding.getType().value }}</p>
    <hr>
    <h4>Classification</h4>
    <p>{{ finding.getClassification().value }}</p>
    <hr>
    <h4>Evidence</h4>
    <p>{{ finding.getEvidence() }}</p>
    <hr>
    <h4>Related Findings</h4>
        {% for t in findingsName %}
        <ul>
            <li style="list-style-type: circle">
                {{ t }}
            </li>
        </ul>
    {% endfor %}
    <hr>

    <h3>Finding Impact</h3>
    <hr>
    <h4>Confidentiality</h4>
    <p>{{ finding.getConfidentiality().value }}</p>
    <hr>
    <h4>Integrity</h4>
    <p>{{ finding.getIntegrity().value }}</p>
    <hr>
    <h4>Availability</h4>
    <p>{{ finding.getAvailability().value }}</p>
    <hr>

    <h3>Analyst Information</h3>
    <hr>
    <h4>Analyst initials</h4>
    {% for t in finding.getAnalystAssigned() %}
        <ul>
            <li style="list-style-type: circle">
                {{ t }}
            </li>
        </ul>
    {% endfor %}
    <hr>
    <hr>
    <h4>Collaborator</h4>
        {% for t in finding.getCollaboratorsAssigned() %}
        <ul>
            <li style="list-style-type: circle">
                {{ t }}
            </li>
        </ul>
    {% endfor %}
    <hr>
    <h4>Posture</h4>
    <p>{{ finding.getPosture().value }}</p>
    <hr>

    <h3>Mitigation</h3>
    <hr>
    <h4>Brief Description</h4>
    <p>{{ finding.getMitigationBriefDescription() }}</p>
    <hr>
    <h4>long Description</h4>
    <p>{{ finding.getMitigationLongDescription() }}</p>
    <hr>

    <h3>Threat Relevance</h3>
    <hr>
    <h4>Relevance</h4>
    <p>{{ finding.getRelevance().value }}</p>
    <hr>

    <h3>Countermeasure</h3>
    <hr>
    <h4>Effectiveness Rating</h4>
    <p>{{ finding.getCountermeasureEffectivenessRating().value }}</p>
    <hr>

    <h3>Imapact</h3>
    <hr>
    <h4>Impact Description</h4>
    <p>{{ finding.getImpactDescription() }}</p>
    <hr>
    <h4>Impact Level</h4>
    <p>{{ finding.getImpactLevel().value }}</p>
    <hr>

    <h3>Severity</h3>
    <hr>
    <h4>Severity Category Score</h4>
    <p>{{ finding.getSeverityCategoryCode().value }}</p>
    <hr>
    <h4>Vulnerability Severity Level</h4>
    <p>{{ finding.getVulnerabilitySeverity() }}</p>
    <hr>
    <h4>Quantitative Vulnerability Severity</h4>
    <p>{{ finding.getQualitativeVulnerabilitySeverity() }}</p>
    <hr>

    <h3>Risk</h3>
    <hr>
    <h4>Risk</h4>
    <p>{{ finding.getRisk() }}</p>
    <hr>
    <h4>Likelihood</h4>
    <p>{{ finding.getLikelihood() }}</p>
    <hr>

    <h3>Finding System Level Impact</h3>
    <hr>
    <h4>Confidentiality Finding Impact System</h4>
    <p>{{ finding.getConfidentialityFindingImpactOnSystem().value }}</p>
    <hr>
    <h4>Integrity Finding Impact on System</h4>
    <p>{{ finding.getIntegrityFindingImpactOnSystem().value }}</p>
    <hr>
    <h4>Availability Finding Impact on System</h4>
    <p>{{ finding.getAvailabilityFindingImpactOnSystem().value }}</p>
    <hr>
    <h4>Impact Score</h4>
    <p>{{ finding.getImpactScore() }}</p>
    <hr>

{% endblock content %}
