<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Findings Overview </h1>
    <div class="btn-group">
        <a class="btn btn-secondary" href="{{ url_for('CreateFinding') }}" role="button">Add Finding</a>
        <a class="btn btn-secondary" href="#" role="button">ERB Report</a>
        <a class="btn btn-secondary" href="#" role="button">Risk Matrix</a>
        <a class="btn btn-secondary" href="#" role="button">Final Report</a>
    </div>
    <hr>
    <div class="list-group">
        {% for finding in findingsList %}

            <div class="list-group-item list-group-item-action flex-column flex-fill align-items-start">
                <div class="d-flex w-100 p-3 flex-fill justify-content-between">
                    <a href="{{ url_for('FindingView', finding=finding.getid()) }}">
                        <h4 class="mb-1">{{ finding.getHostName() }}</h4>
                    </a>
                    <h5 class="mb-1">ID: {{ finding.getid() }} </h5>
                    <h5 class="mb-1">System: system 1 </h5>
                    <h5 class="mb-1">Task: Task 1 </h5>
                    <h5 class="mb-1">Subtask: Subtask 1 </h5>
                    <h5 class="mb-1">Analyst:</h5>
                    {% for t in finding.getAnalystAssigned() %}
                        <ul>
                            <li style="list-style-type: circle">
                                {{ t }}
                            </li>
                        </ul>
                    {% endfor %}
                    <h5 class="mb-1">Status: {{ finding.getStatus().value }}</h5>
                    <h5 class="mb-1">Classification: {{ finding.getClassification().value }} </h5>
                    <h5 class="mb-1">Type: {{ finding.getType().value }}</h5>
                    <h5 class="mb-1">Risk: {{ finding.getRisk() }}</h5>
                </div>
                <form method=post>
                    {# <button type="submit" class="btn btn-secondary">Archive System</button>#}
                    <button type="submit" class="btn btn-secondary"><a
                            href="{{ url_for('ArchiveFinding', finding=finding.getid()) }}">Archive Finding</a></button>
                </form>
            </div>
        {% endfor %}

    </div>
{% endblock content %}
