<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Help</h1>
    <h3>User Guide</h3>

    <h4>How to navigate through the app</h4>
    <ul>
        <li>
            In all pages there is a menu in the right side
            just click in the desire page to visit
        </li>
    </ul>

    <h4>Set up content view</h4>
        <p>In this page we have:</p>
    <ul>
        <li>Analyst Initials (i.e JM)</li>
        <li>Choose between two options:
            <p>If user select create event ip address is not required and you are going
                to be directed to the Create Event page</p>
            <p>If the user select first time sync with the lead analyst ip address is gonna
                be required and you are gonna be directed to Event overview page</p>
            <p>The lead analyst Ip address is formatted as follows 0.0.0.0
        </li>
    </ul>

    <h4 id="createevent" class="helpTitle" style="padding-top: 100px" >Create Event</h4>
        <p>In this page we can:</p>
    <ul>
        <li>Edit event</li>
        <li>Archive event</li>
        <li>Ask for help</li>
        <li>Add analysts</li>
        <li>Delete Analysts</li>
        <li>Add systems
            <p>Archive systems</p>
            <p>We can see the progress of the systems</p>
            <p>Click on systems to expand and see more information</p>
        </li>
    </ul>

    <!-- Needs to be edited -->
    <h4 id="systems" class="helpTitle" style="padding-top: 100px" >Systems</h4>
        <p>In this page we can:</p>
    <ul>
        <li>Edit event</li>
        <li>Archive event</li>
        <li>Ask for help</li>
        <li>Add analysts</li>
        <li>Delete Analysts</li>
        <li>Add systems
            <p>Archive systems</p>
            <p>We can see the progress of the systems</p>
            <p>Click on systems to expand and see more information</p>
        </li>
    </ul>

    <h4 id="tasks" class="helpTitle" style="padding-top: 100px">Tasks</h4>
        <p>In this page we can:</p>
    <ul>
        <li>Archive event</li>
        <li>Demote event</li>
        <li>See a brief description of the tasks listed</li>
        <li>Check for progress</li>
        <li>Click on a task to be redirected to the task detailed view page</li>
    </ul>

    <h4 id="detailedtask" class="helpTitle" style="padding-top: 100px">Tasks detailed view</h4>
        <p>In this page we can:</p>
    <ul>
        <li>Edit task</li>
        <li>Check for all attributes of the task</li>
        <li>Add a subtask</li>
        <li>See a list of the subtasks with a brief description
            <p>Check if the subtask has been completed</p>
            <p>Archive subtask</p>
            <p>Promote subtask</p>
        </li>
        <li>Click on a subtask to be redirected to the subtask detailed view page</li>
    </ul>

    <h4 id="detailedSubtask" class="helpTitle" style="padding-top: 100px">Subtask detailed view</h4>
        <p>In this page we can:</p>
    <ul>
        <li>Edit subtask</li>
        <li>Check for all attributes of the subtask</li>
        <li>Check for progress of the subtasks</li>
        <li>Who participated on the subtask</li>
        <li>Cjeck when the subtask is due</li>
    </ul>

    <h4 id="findings" class="helpTitle" style="padding-top: 100px" >Findings overview</h4>
        <p>In this page we can:</p>
    <ul>
        <li>Add finding</li>
        <li>Create ERB report</li>
        <li>Create Risk Matrix</li>
        <li>Create final report</li>
        <li>See a list of findings
            <p>Delete findings</p>
        </li>
        <li>Click on a finding to be redirected to the finding overview</li>
    </ul>

    <h4 id="detailedFinding" class="helpTitle" style="padding-top: 100px">Finding overview</h4>
        <p>In this page we can:</p>
    <ul>
        <li>See all attributes of the finding selected</li>
        <li>Edit finding</li>
    </ul>

    <h4 id="archivedContent" class="helpTitle" style="padding-top: 100px">Archived content view</h4>
        <p>In this page we can:</p>
    <ul>
        <li>Restore archive tasks</li>
        <li>Restore archive subtasks</li>
        <li>Restore archive findings</li>
        <li>Restore archive systems</li>
        <li>See a list of findings
            <p>Delete findings</p>
        </li>
        <li>Click on a finding to be redirected to the finding overview</li>
    </ul>

    <h4 id="sync" class="helpTitle" style="padding-top: 100px">Sync</h4>
        <p>In this page we can:</p>
    <ul>
        <li>Select who to sync with</li>
        <li>Add ip address</li>
        <li>Add analyst initials
            <p>Add their ip address</p>
            <p>Delete analyst</p>
        </li>
        <li>Click to sync with the desire analyst</li>
    </ul>

    <h3>Developer Guide</h3>
    <h4>Dependencies and how to install them</h4>
    <h4>Flask</h4>
        <ul><li>How to install: <p>pip install flask</p></li></ul>
    <h4>Flask-wtf</h4>
        <ul><li>How to install: <p>pip install flask-wtf</p></li></ul>
    <h4>Bootstrap</h4>
        <ul><li>How to install: <p>pip install bootstrap</p></li></ul>
    <h4>Pymongo</h4>
    <ul><li>How to install: <p>pip install pymongo</p></li></ul>
    <h4>HTML5</h4>

<!-- content goes here -->
{% endblock %}

{% block sidebar %}
    <!-- side bar -->
    <div class="content-section">
        <h3>FRIC Menu</h3>
        <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('EventTree') }}"> Event Tree</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('AnalystProgressSummaryContentView') }}"> Analyst Progress Summary</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('EventView') }}">Event Overview</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Systems') }}"> Systems</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Tasks') }}"> Tasks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Subtasks') }}"> Subtasks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('FindingsView') }}"> Findings</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('ArchiveContentView') }}"> Archived Contents</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('ConfigurationContentView') }}">
                Configuration</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('SetupContentView') }}"> Setup</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Help') }}"> Help</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Sync') }}"> Sync</a></li>
        </ul>
        </p>
    </div>
{% endblock %}