<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="form">
    <form>
        <div>
            <h1>Finding and Reporting Information Console (FRIC)</h1>
            <h4>There is no existing event in your local system</h4>
        </div>
        <div>
            <label>Please enter your initials</label>
            <input type="text" class="form-control"  placeholder="Initial">
        </div>
        <label >Please select an option</label>
        <select >
            <option selected>Open this select menu</option>
            <option value="1">Create a new event (any existing event will be archived)</option>
            <option value="2">First time sync with lead analyst.</option>
        </select>
        <div>
            <label>First time sync with lead analyst. Please enter the lead analyst’s IP”</label>
            <input type="text" placeholder="Please enter the lead analyst’s IP">
        </div>
        <a href="{{ url_for('CreateEvent') }}">Submit</a>
    </form>
</div>
</body>
</html>
