<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Subtasks Overview</h1>
    <button type="submit" class="btn btn-secondary"><a href="{{ url_for('CreateSubTask') }}">Add Subtask</a></button>
    <hr>
    <div class="list-group">
        {% for subtask in subTasksList %}

            <div class="list-group-item list-group-item-action flex-column flex-fill align-items-start">
                <div class="d-flex w-100 p-3 flex-fill justify-content-between">
                    <a href="{{ url_for('SubTaskView', subtask=subtask.getId())}}">
                        <h4 class="mb-1">{{ subtask.getTitle() }}</h4>
                    </a>
                    <small>No. of Findings: 2</small>
                    <h5>Aanalyst: {{ subtask.getAnalystAssigment() }}</h5>
                    <h5>Task: task 1</h5>
                    <h5>Due date:
                        <medium>{{ subtask.getDueDate() }}</medium>
                    </h5>
                </div>
                <p class="mb-1">{{ subtask.getDescription() }}</p>
                <form method=post>
                    {# <button type="submit" class="btn btn-secondary">Archive System</button>#}
                    <button type="submit" class="btn btn-secondary"><a
                            href="{{ url_for('ArchiveSubtask', subtask=subtask.getId()) }}">Archive Subtask</a></button>
{#                    <button type="submit" class="btn btn-secondary"><a#}
{#                            href="{{ url_for('DemoteTask', task=task.getId()) }}">Demote task</a></button>#}
                </form>
                {#        <form method=post>#}
                {# <button type="submit" class="btn btn-secondary">Archive System</button>#}
                {#            <button type="submit" class="btn btn-secondary"><a#}
                {#                    href="{{ url_for('ArchiveSystem', system=system.getId()) }}">archive#}
                {#                System</a></button>#}
                {#                        <button type="submit" class="btn btn-secondary"><a#}
                {#                    href="{{ url_for('ArchiveSystem', system=system.getId()) }}">archive#}
                {#                System</a></button>#}
                {#        </form>#}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
{% block sidebar %}
    <!-- side bar -->
    <div class="content-section">
        <h3>FRIC Menu</h3>
        <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('EventTree') }}"> Event Tree</a></li>
            <li class="list-group-item list-group-item-light"><a
                    href="{{ url_for('AnalystProgressSummaryContentView') }}"> Analyst Progress Summary</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('EventView') }}">Event Overview</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Systems') }}"> Systems</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Tasks') }}"> Tasks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Subtasks') }}"> Subtasks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('FindingsView') }}"> Findings</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('ArchiveContentView') }}"> Archived
                Contents</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('ConfigurationContentView') }}">
                Configuration</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('SetupContentView') }}"> Setup</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Help',_anchor='tasks') }}"> Help</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Sync') }}"> Sync</a></li>
        </ul>
        </p>
    </div>
{% endblock %}