<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Subtasks Overview</h1>
    <button type="submit" class="btn btn-secondary"><a href="{{ url_for('CreateSubTask') }}">Add Subtask</a></button>
    <hr>
    <div class="list-group">
        {% for subtask in subTasksList %}

            <div class="list-group-item list-group-item-action flex-column flex-fill align-items-start">
                <div class="d-flex w-100 p-3 flex-fill justify-content-between">
                    <a href="{{ url_for('SubTaskView', subtask=subtask.getId()) }}">
                        <h4 class="mb-1">{{ subtask.getTitle() }}</h4>
                    </a>
                    <small>No. of Findings: 2</small>
                    <h5>Aanalyst: </h5>
                    {% for analyst in subtask.getAnalystAssigment() %}
                        <ul>
                            <li style="list-style-type: circle">
                                {{ analyst }}
                            </li>
                        </ul>
                    {% endfor %}
                    <h5>Task: task 1</h5>
                    <h5>Due date:
                        <medium>{{ subtask.getDueDate() }}</medium>
                    </h5>
                </div>
                <p class="mb-1">{{ subtask.getDescription() }}</p>
                <form method=post>
                    {# <button type="submit" class="btn btn-secondary">Archive System</button>#}
                    <button type="submit" class="btn btn-secondary"><a
                            href="{{ url_for('ArchiveSubtask', subtask=subtask.getId()) }}">Archive Subtask</a></button>
                    <button type="submit" class="btn btn-secondary"><a
                            href="{{ url_for('PromoteToTask', subtask=subtask.getId()) }}">Promote To Task</a></button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
