<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h2>Systems Overview</h2>
    <button type="submit" class="btn btn-secondary"><a href="{{ url_for('CreateSystem') }}">Add system</a></button>
    <hr>
    <div class="list-group">
        {% for system in systemList %}
            <div class="list-group-item list-group-item-action flex-column flex-fill align-items-start">
                <div class="d-flex w-100 p-3 flex-fill justify-content-between">
                    <a type="submit" href="{{ url_for('SystemView', system=system.getId()) }}">
                        <h4 class="mb-1">{{ system.getName() }}</h4>
                    </a>
                    <small>No. of Tasks: 4 </small>
                    <b>|</b>
                    <small>No. of Findings: 2</small>
                </div>
                <p class="mb-1">{{ system.getDescription() }}</p>
                <h5>Progress:</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                         aria-valuemin="0"
                         aria-valuemax="100">25%
                    </div>
                </div>
                <div class="custom-control custom-checkbox mb-4">
                    <form method=post>
                        {# <button type="submit" class="btn btn-secondary">Archive System</button>#}
                        <button type="submit" class="btn btn-secondary"><a
                                href="{{ url_for('ArchiveSystem', system=system.getId()) }}">Archive
                            System</a></button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

