<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>System detailed view </h1>
    <form method=post>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('EditSystem', system=system.getId()) }}">Edit
            System</a></button>
        <button type="submit" value="submit" name="ArchiveSystem" class="btn btn-secondary">Archive System</button>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('Help') }}">Help</a></button>
    </form>
    <h3>System Information</h3>
    <h5>Progress:</h5>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
             aria-valuemax="100">25%
        </div>
    </div>
    <h4>System name</h4>
    <p>{{ system.getName() }}</p>
    <hr>
    <h4>System description</h4>
    <p>{{ system.getDescription() }} </p>
    <hr>
    <h4>System Location</h4>
    {% for loc in system.getLocation() %}
        <ul>
            <li style="list-style-type: circle">
                {{ loc }}
            </li>
        </ul>
    {% endfor %}
    <hr>
    <h4>System Router</h4>
    {% for router in system.getRouter() %}
        <ul>
            <li style="list-style-type: circle">
                {{ router }}
            </li>
        </ul>
    {% endfor %}
    <hr>
    <h4>System Switch</h4>
    {% for switch in system.getSwitch() %}
        <ul>
            <li style="list-style-type: circle">
                {{ switch }}
            </li>
        </ul>
    {% endfor %}
    <hr>
    <h4>System Room</h4>
    {% for room in system.getRoom() %}
        <ul>
            <li style="list-style-type: circle">
                {{ room }}
            </li>
        </ul>
    {% endfor %}
    <hr>
    <h4>System Test Plan</h4>
    <p>{{ system.getTestPlan() }}</p>
    <hr>

    <h3>System Categorization</h3>
    <br>
    <h4>Confidentiality</h4>
    <p>{{ system.getConfidentiality().value }}</p>
    <hr>
    <h4>System Integrity</h4>
    <p>{{ system.getIntegrity().value }}</p>
    <hr>
    <h4>System Availability</h4>
    <p>{{ system.getAvailability().value }}</p>
    <hr>

{% endblock content %}

{% block sidebar %}
    <!-- side bar -->
    <div class="content-section">
        <h3>FRIC Menu</h3>
        <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('EventTree') }}"> Event Tree</a></li>
            <li class="list-group-item list-group-item-light"><a
                    href="{{ url_for('AnalystProgressSummaryContentView') }}"> Analyst Progress Summary</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('EventView') }}">Event Overview</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Systems') }}"> Systems</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Tasks') }}"> Tasks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Subtasks') }}"> Subtasks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('FindingsView') }}"> Findings</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('ArchiveContentView') }}"> Archived
                Contents</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('ConfigurationContentView') }}">
                Configuration</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('SetupContentView') }}"> Setup</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Help',_anchor='systems') }}"> Help</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Sync') }}"> Sync</a></li>
        </ul>
        </p>
    </div>
{% endblock %}
