<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Task Detailed View </h1>
    <form method=post>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('EditTask', task=task.getTitle()) }}">Edit
            Task</a></button>
        <button type="submit" value="submit" name="ArchiveTask" class="btn btn-secondary">Archive Task</button>
        <button type="submit" value="submit" name="DemoteTask" class="btn btn-secondary">Demote Task</button>
        <button type="submit" class="btn btn-secondary"><a href="{{ url_for('Help') }}">Help</a></button>
    </form>

    <h3>Task Information</h3>
    <h5>Progress:</h5>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
             aria-valuemax="100">25%
        </div>
    </div>
    <h4>Task name</h4>
    <p>{{ task.getTitle() }}</p>
    <hr>
    <h4>Task description</h4>
    <p>{{ task.getDescription() }} </p>
    <hr>
    <h4>Task Priority </h4>
    <p>{{ task.getPriority().value }}</p>
    <hr>
    <h4>Task Progress</h4>
    <p>{{ task.getProgress().value }}</p>
    <hr>
    <h4>Task Due Date </h4>
    <p>{{ task.getDueDate() }}</p>
    <hr>
    <h4>Task Attachment </h4>
    <p>{{ task.getAttachment() }}</p>
    <hr>
    <h4>task Association To Task </h4>
    {% for t in taskName %}
        <ul>
            <li style="list-style-type: circle">
                {{ t }}
            </li>
        </ul>
    {% endfor %}
    <hr>

    <h4>analyst: </h4>
    {% for analyst in analystAssg %}
        <ul>
            <li style="list-style-type: circle">
                {{ analyst }}
            </li>
        </ul>
    {% endfor %}
    <hr>
    <h4>Collaborate </h4>
    {% for collaborator in collaborators %}
        <ul>
            <li style="list-style-type: circle">
                {{ collaborator }}
            </li>
        </ul>
    {% endfor %}

    <hr>
{% endblock content %}

{% block sidebar %}
    <!-- side bar -->
    <div class="content-section">
        <h3>FRIC Menu</h3>
        <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('EventTree') }}"> Event Tree</a></li>
            <li class="list-group-item list-group-item-light"><a
                    href="{{ url_for('AnalystProgressSummaryContentView') }}"> Analyst Progress Summary</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('EventView') }}">Event Overview</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Systems') }}"> Systems</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Tasks') }}"> Tasks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Subtasks') }}"> Subtasks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('FindingsView') }}"> Findings</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('ArchiveContentView') }}"> Archived
                Contents</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('ConfigurationContentView') }}">
                Configuration</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('SetupContentView') }}"> Setup</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Help',_anchor='detailedtask') }}">
                Help</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Sync') }}"> Sync</a></li>
        </ul>
        </p>
    </div>
{% endblock %}




