<!-- extends the layout.html main structure to avoid repetition -->
{% extends "layout.html" %}

<!-- html code for the body of the page-->
{% block content %}
    <h1>Task Detailed View </h1>
    <button type="submit" class="btn btn-secondary"><a href="{{ url_for('EditTask') }}">Edit Task</a></button>
    <hr>
    <h3>Task Information</h3>
    <h5>Progress:</h5>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
             aria-valuemax="100">25%
        </div>
    </div>
    <h4>Task name</h4>
    <p>This is some other text.</p>
    <hr>
    <h4>Task description</h4>
    <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
    <hr>
    <h4>System: </h4>
    <p>System 1</p>
    <hr>
    <h4>Due date: </h4>
    <p>08/07/20</p>
    <hr>
    <h4>Priority: </h4>
    <p>High</p>
    <hr>

    <h4>analyst(s): </h4>
    <ul>
        <li>Miguel munoz</li>
    </ul>
    <hr>
    <h4>Collaborate(s): </h4>
    <ul>
        <li>Alberto machado</li>
        <li>Carlos dominguez</li>
    </ul>
    <hr>
    <h4>Related Task(s): </h4>
    <ul>
        <li>Task 2</li>
    </ul>

    <h3>list of sub-tasks</h3>
    <button type="submit" class="btn btn-secondary"><a href="{{ url_for('CreateSubTask') }}">Add subtask</a></button>
    <hr>
    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column flex-fill align-items-start">
            <div class="d-flex w-100 p-3 flex-fill justify-content-between">
                <a href="{{ url_for('SubTaskView') }}">
                    <h4 class="mb-1">Subtask 1</h4>
                </a>
                <small>No. of Findings: 2</small>
                <h5>Aanalyst: Jonathan Roman</h5>
                <h5>Task: task 1</h5>
                <h5>Due date:
                    <medium>08/07/20</medium>
                </h5>
            </div>
            <p class="mb-1">Description of what the sub task is about, steps, instructions, etc</p>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                <label class="custom-control-label" for="customCheck">Complete</label>
                <button type="submit" class="btn btn-secondary"><a href="">Archive subtask</a></button>
                <button type="submit" class="btn btn-secondary"><a href="">Promote subtask</a></button>
            </div>
        </div>
        <div class="list-group-item list-group-item-action flex-column flex-fill align-items-start">
            <div class="d-flex w-100 p-3 flex-fill justify-content-between">
                <a href="{{ url_for('SubTaskView') }}">
                    <h4 class="mb-1">Subtask 2</h4>
                </a>
                <small>No. of Findings: 2</small>
                <h5>Aanalyst: Jonathan Roman</h5>
                <h5>Task: task 1</h5>
                <h5>Due date:
                    <medium>08/07/20</medium>
                </h5>
            </div>
            <p class="mb-1">Description of what the sub task is about, steps, instructions, etc</p>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                <label class="custom-control-label" for="customCheck">Complete</label>
                <button type="submit" class="btn btn-secondary"><a href="">Archive subtask</a></button>
                <button type="submit" class="btn btn-secondary"><a href="">Promote subtask</a></button>
            </div>
        </div>
        <div class="list-group-item list-group-item-action flex-column flex-fill align-items-start">
            <div class="d-flex w-100 p-3 flex-fill justify-content-between">
                <a href="{{ url_for('SubTaskView') }}">
                    <h4 class="mb-1">Subtask 3</h4>
                </a>
                <small>No. of Findings: 2</small>
                <h5>Aanalyst: Jonathan Roman</h5>
                <h5>Task: task 1</h5>
                <h5>Due date:
                    <medium>08/07/20</medium>
                </h5>
            </div>
            <p class="mb-1">Description of what the sub task is about, steps, instructions, etc</p>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                <label class="custom-control-label" for="customCheck">Complete</label>
                <button type="submit" class="btn btn-secondary"><a href="">Archive subtask</a></button>
                <button type="submit" class="btn btn-secondary"><a href="">Promote subtask</a></button>
            </div>
        </div>
        `
        <div class="list-group-item list-group-item-action flex-column flex-fill align-items-start">
            <div class="d-flex w-100 p-3 flex-fill justify-content-between">
                <a href="{{ url_for('SubTaskView') }}">
                    <h4 class="mb-1">Subtask 4</h4>
                </a>
                <small>No. of Findings: 2</small>
                <h5>Aanalyst: Jonathan Roman</h5>
                <h5>Task: task 1</h5>
                <h5>Due date:
                    <medium>08/07/20</medium>
                </h5>
            </div>
            <p class="mb-1">Description of what the sub task is about, steps, instructions, etc</p>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                <label class="custom-control-label" for="customCheck">Complete</label>
                <button type="submit" class="btn btn-secondary"><a href="">Archive subtask</a></button>
                <button type="submit" class="btn btn-secondary"><a href="">Promote subtask</a></button>
            </div>
        </div>
    </div>
{% endblock content %}

{% block sidebar %}
    <!-- side bar -->
    <div class="content-section">
        <h3>Sidebar</h3>
        <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('EventTree') }}"> Event Tree</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('EventView') }}"> Systems</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Tasks') }}"> Tasks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Subtasks') }}"> Subtasks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('FindingsView') }}"> Findings</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('ArchiveContentView') }}"> Archive</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('ConfigurationContentView') }}">
                Configuration</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('SetupContentView') }}"> Setup</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Help') }}"> Help</a></li>

            <li class="list-group-item list-group-item-light"><a href="{{ url_for('GenerateReport') }}"> Generate
                Report</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('Sync') }}"> Sync</a></li>
        </ul>
        </p>
    </div>
{% endblock %}




